<div class="container mt-3">
  <h2>PDF-AI</h2>
  <p>Encuentra el conocimiento!!</p>
  <form [formGroup]="inicioForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3 mt-3">
      <input type="text" class="form-control" formControlName="tituloCurso" placeholder="Título del curso">
      <label for="tituloCurso">Título del curso:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="diasCurso" placeholder="Días que se cursará">
      <label for="diasCurso">Días que se cursará:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="horarioCurso" placeholder="Horario del curso">
      <label for="horarioCurso">Horario del curso:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="cantParticipantes" placeholder="Cantidad de participantes">
      <label for="cantParticipantes">Cantidad de participantes:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="nombreInstructor" placeholder="Nombre del instructor">
      <label for="nombreInstructor">Nombre del instructor:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="objCurso" placeholder="Objetivo del curso">
      <label for="objCurso">Objetivo del curso:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="temario" placeholder="Descripción del temario">
      <label for="temario">Descripción del temario:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="nivelCurso" placeholder="Nivel del curso">
      <label for="nivelCurso">Nivel del curso:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="modalidad" placeholder="Modalidad">
      <label for="modalidad">Modalidad:</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="text" class="form-control" formControlName="materiales" placeholder="Materiales necesarios">
      <label for="materiales">Materiales necesarios:</label>
    </div>
    <button  [disabled]="validateForm()" type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>

